@import './variables.scss';
.score {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    &__header {
        display: flex;
        justify-content: space-between;
        &__select {
            border: 1px solid $grey;
            border-radius: $button-raduis;
            font-size: small;
            font-weight: 400;
            padding: 5px;
            background-color: transparent;
        }
    }
    &__content {
        display: grid;
        gap: .6rem;
        grid-template-columns: repeat(3, 1fr);
        &__card {
            background-color: $primary;
            color: $white;
            border-radius: $card-raduis;
            height: 200px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            align-items: center;
            ion-icon {
                font-size: 55px;
            }
            .name {
                text-transform: capitalize;
                font-weight: 400;
            }
            .school {
                text-transform: capitalize;
                font-size: 11px;
            }
            .score {
                font-weight: 500;
                font-size: $meduim-font-size;
            }
            .level {
                background-color: rgba(255, 255, 255, 0.3);
                width: 98%;
                padding: 10px;
                margin: auto;
                text-align: center;
                border-radius: 12px;
            }
            &__1st {
                background-color: $accent-1;
            }
            &__2nd {
                background-color: $primary;
            }
            &__3rd {
                background-color: $accent-2;
                .level {
                    background-color: rgba(168, 168, 168, 0.473);
                }
            }
        }
    }
}