//FONT FAMILY
$font-family: 'Fredoka',
sans-serif;
//FONT SIZE
$header-font-size: 18px;
$small-font-size: 12px;
$regular-font-size: 16px;
$meduim-font-size: 21px;
$big-font-size: 34px;
//COLORS
$light-grey: rgb(238, 239, 241);
$grey: rgb(172, 172, 172);
$white: #fff;
$primary: rgb(82, 69, 131);
$primary-light: rgb(107, 96, 146);
$accent-1: rgb(55, 173, 84);
$accent-1-light: rgb(85, 204, 116);
$accent-2: rgb(255, 184, 0);
$accent-2-light: rgb(236, 197, 96);
$accent-3: rgb(239, 126, 119);
//BORDER RADUIS
$header-raduis: 0 0 15px 15px;
$menu-item-raduis: 20px 0 0 20px;
$card-raduis: 12px;
$button-raduis: 20px;
//HEADER HEIGHT
$header-height: 50px;